body {
    font-family: Arial, sans-serif;
    align-items: center;
    display: flex;
    justify-content: center;
    background-color: rgb(224, 219, 219);
    height: 100vh; 
    margin: 0;
}
.signup-container {
    background-color:antiquewhite;
    border-radius: 15px;
    padding: 40px;
    display:flex;
    flex-direction: column; /*요소들 세로-순서대로 정렬*/
    width: 400px;
}
.signup-container h2 {
    text-align: center;
    margin-bottom: 20px;
}
.signup-container input {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid rgb(224, 219, 219);
    margin-bottom: 5px;
}
.signup-container button {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    background-color: skyblue;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.signup-container button:hover {
    background-color: blue;
}